<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Seeking Cinema</title>
	<link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/Navigation-with-Search1.css">
	<link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/stylus.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">

<link rel="stylesheet" href="/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="/owl.carousel/dist/assets/owl.theme.default.min.css"/>
<link rel="stylesheet" href="/owl.carousel/src/scss/video.css""/>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
	<body>
	<div class= "container">
	<div id= "overlay">

  {{{body}}}

  	
	<div class="row" id="foot">
	<footer>
		<p class="text-muted center_text">Created by Ryan Gadd, Erin Stewart, Grey Martin, and Jeran Urban &copy; 2017</p>
		</footer>
		</div>
		
	</div>
	</div>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
 	<script src="/owl.carousel/dist/owl.carousel.min.js"></script>
	<script src="/owl.carousel/src/js/owl.video.js"></script>


  </body>

</html>
