<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Seeking Cinema</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/Navigation-with-Search1.css">
	<link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/stylus.css">
	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Moment.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <header>
		<!-- <div>
		        <nav class="navbar navbar-default navigation-clean-search">
		            <div class="container">
		                <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Seeking Cinema</a>
		                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
		                </div>
		                <div class="collapse navbar-collapse" id="navcol-1">
		                    <ul class="nav navbar-nav">
		                        <li class="active" role="presentation"><a href="#">Link 1</a></li>
		                        <li role="presentation"><a href="#">Link 2</a></li>
		                        <li role="presentation"><a href="#">Link 3</a></li>
		                    </ul>
										<a class="btn btn-default navbar-btn navbar-right action-button" role="button" href="/login">Log In</a></div>
		            </div>
		        </nav>
		    </div> -->
  </header>

	<body>

  {{{body}}}

  <footer>
	<div class="container" id="foot">
		<span class="text-muted">Created by Ryan Gadd, Erin Stewart, Grey Martin, and Jeran Urban &copy; 2017<span>
	</div>
  </footer>

  <script type="text/javascript" src="js/movie.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>


  </body>

</html>
