<div class="jumbotron">
      <h1 class="text-center">Movies!</h1>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <p class="cool-font">Name</p>
            <h1>handlebars</h1>
          <input class="form-control" type="text" id="movie" placeholder="Enter a movie name">
          <br>
          <button id="movie-submit" class="btn btn-lg pull-right">Submit!</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Movies</h2>
          <hr>
          <div id="movie-area"></div>
        </div>
      </div>

    </div>