{{> headerUser}}

<h1 class="text-center">Find the movie you're looking for!</h1>

<div class="container footerspace">
  <div class="row">
    <div class="col-sm-6 col-xs-offset-2">
      <input class="form-control" type="text" id="movie" placeholder="Enter a movie name">
    </div>
    <button id="movie-submit" class="btn btn-md">find!</button>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <hr>
      <div id="movie-area"></div>
    </div>
    <div>
    <button id="guide-submit" class="btn btn-md">where to buy</button>
  </div>
  </div>
  
</div>